/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_hw.dtsi"

&default_transform {
    col-offset = <6>;
};

/ {

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_RIGHT";
        
        // Right half pin mapping:
        // rows: r0=P0.29, r1=P1.13, r2=P0.10, r3=P0.09
        // cols: c0=P1.06, c1=P1.04, c2=P0.11, c3=P1.00, c4=P0.24, c5=P0.22
        
        row-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P0.29 */
                    <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P1.13 */
                    <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P0.10 */
                    <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* P0.09 */
                    
        col-gpios = <&gpio1 6  GPIO_ACTIVE_HIGH>,  /* P1.06 */
                    <&gpio1 4  GPIO_ACTIVE_HIGH>,  /* P1.04 */
                    <&gpio0 11 GPIO_ACTIVE_HIGH>,  /* P0.11 */
                    <&gpio1 0  GPIO_ACTIVE_HIGH>,  /* P1.00 */
                    <&gpio0 24 GPIO_ACTIVE_HIGH>,  /* P0.24 */
                    <&gpio0 22 GPIO_ACTIVE_HIGH>;  /* P0.22 */
                    
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        wakeup-source;
    };
};

&i2c1 {
    status = "okay";
    sda-pin = <17>;  /* P0.17 */
    scl-pin = <20>;  /* P0.20 */
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled0: oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3C>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        label = "OLED";
    };
};
