/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_hw.dtsi"

/ {

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_LEFT";
        
        // Left half pin mapping (handwired):
        // rows: r0=P1.00, r1=P0.11, r2=P1.04, r3=P1.06
        // cols: c0=P0.09, c1=P0.10, c2=P1.11, c3=P1.13, c4=P1.15, c5=P0.02
        
        row-gpios = <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P1.00 */
                    <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P0.11 */
                    <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P1.04 */
                    <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* P1.06 */
                    
        col-gpios = <&gpio0 2  GPIO_ACTIVE_HIGH>,  /* P0.02 */
                    <&gpio1 15 GPIO_ACTIVE_HIGH>,  /* P1.15 */
                    <&gpio1 13 GPIO_ACTIVE_HIGH>,  /* P1.13 */
                    <&gpio1 11 GPIO_ACTIVE_HIGH>,  /* P1.11 */
                    <&gpio0 10 GPIO_ACTIVE_HIGH>,  /* P0.10 */
                    <&gpio0 9  GPIO_ACTIVE_HIGH>;  /* P0.09 */
                    
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        wakeup-source;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            bias-pull-up;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            bias-pull-up;
            low-power-enable;
        };
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled0: oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3C>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
        label = "OLED";
    };
};
