/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_hw.dtsi"

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        
        // Left half pin mapping (handwired) - Nice Nano pins:
        // rows: r0=D6(P1.00), r1=D7(P0.11), r2=D8(P1.04), r3=D9(P1.06)
        // cols: c0=D2(P0.17), c1=D3(P0.20), c2=D4(P0.22), c3=D5(P0.24), c4=D16(P0.10), c5=D10(P0.09)
        
        row-gpios = <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D6 = P1.00 */
                    <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D7 = P0.11 */
                    <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D8 = P1.04 */
                    <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* D9 = P1.06 */
                    
        col-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>,  /* D2 = P0.17 */
                    <&gpio0 20 GPIO_ACTIVE_HIGH>,  /* D3 = P0.20 */
                    <&gpio0 22 GPIO_ACTIVE_HIGH>,  /* D4 = P0.22 */
                    <&gpio0 24 GPIO_ACTIVE_HIGH>,  /* D5 = P0.24 */
                    <&gpio0 10 GPIO_ACTIVE_HIGH>,  /* D16 = P0.10 */
                    <&gpio0 9  GPIO_ACTIVE_HIGH>;  /* D10 = P0.09 */
                    
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        wakeup-source;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            bias-pull-up;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            bias-pull-up;
            low-power-enable;
        };
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled0: oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3C>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
